<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">MasterGym</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" (click)="snav.toggle()">Dashboard</a>
        <a mat-list-item routerLink="/inscripciones" (click)="snav.toggle()">Inscripciones</a>
        <a mat-list-item routerLink="/clientes-dashboard" (click)="snav.toggle()">Clientes</a>
        <a mat-list-item routerLink="/precios-dashboard" (click)="snav.toggle()">Precios</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/precios-dashboard" (click)="logout()">Cerrar Sesion</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
