<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 text-center">
        <span class="text-muted">Desarrollado por Matias</span>
      </div>
      <div class="col-md-3 text-end">
        <span class="fi">
          <img src="assets/logos/es.svg" alt="es" (click)="setLanguageSpanish()"/>
        </span>
        <span class="fi">
          <img src="assets/logos/us.svg" alt="us" (click)="setLanguageEnglish()"/>
        </span>
        <span class="fi">
          <img src="assets/logos/br.svg" alt="br" (click)="setLanguagePortuguese()"/>
        </span>
      </div>
    </div>
  </div>
</footer>
