<mat-toolbar color="primary">
  <button mat-flat-button color="primary" routerLink="/dashboard">Dashboard</button>
  <button mat-flat-button color="primary" routerLink="/inscripciones">Inscripciones</button>
  <button mat-flat-button color="primary" routerLink="/clientes-dashboard">Clientes</button>
  <button mat-flat-button color="primary" routerLink="/precios-dashboard">Precios</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

