<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-flat-button color="primary" routerLink="/dashboard">Dashboard</button>
  <button mat-flat-button color="primary" routerLink="/clientes-dashboard">Clientes</button>
  <button mat-flat-button color="primary" routerLink="/clientes-agregar">Agregar Clientes</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

