<mat-toolbar color="primary">
  <a mat-flat-button color="primary" routerLink="/dashboard">{{'menu.dashboard' | translate }}</a>
  <a mat-flat-button color="primary" routerLink="/inscripciones">{{'menu.enrollment' | translate }}</a>
  <a mat-flat-button color="primary" routerLink="/clientes-dashboard">{{'menu.clients' | translate }}</a>
  <a mat-flat-button color="primary" routerLink="/precios-dashboard">{{'menu.prices' | translate }}</a>
  <span class="example-spacer"></span>
  <a mat-mini-fab class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>

