<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>{{'prices.list.title' | translate }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="example-container mat-elevation-z8">
        <!--spinner-->
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <!--table-->
        <mat-table [dataSource]="dataSource" matSort>

          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <mat-header-cell *matHeaderCellDef>
              {{column.header}}
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{column.cell(row)}}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row (click)="emitirEvento(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
      </div>
    </div>
  </div>
</div>
