<h1 mat-dialog-title class="text-center">Acciones</h1>
<mat-dialog-content>
  <div class="row">
      <button mat-flat-button color="primary">Detalle</button>
  </div>

  <div class="row">
    <button routerLink="/clientes-agregar/{{data.id}}" (click)="cerrarModal()" mat-flat-button color="accent">Editar</button>
  </div>

  <div class="row">
    <button mat-flat-button color="warn" (click)="confirmarEliminar()">Eliminar</button>
  </div>

</mat-dialog-content>
<div mat-dialog-actions align="center">
  <button mat-stroked-button mat-dialog-close>Cerrar</button>
</div>
